<div class="w3-container">
  <h2>Общий тренд</h2>
  <a href="/img/stats/trend.png"><img src="/img/stats/trend.png" width=800 height=600 /></a>
  <h2>Колличество сообщений в эхах по авторам</h2>
  <a href="/img/stats/echoes_by_author.png"><img src="/img/stats/echoes_by_author.png" width=800 height=600 /></a>
  <h2>Топ 10</h2>
  <a href="/img/stats/top_authors.png"><img src="/img/stats/top_authors.png" width=800 height=600 /></a>
  <h2>Распределение сообщений по дням недели</h2>
  <a href="/img/stats/weekly_count.png"><img src="/img/stats/weekly_count.png" width=800 height=600 /></a>
  <h2>Распределение сообщений в эхах по дням недели</h2>
  <a href="/img/stats/weekly_echo.png"><img src="/img/stats/weekly_echo.png" width=800 height=600 /></a>

  <div>
    Поиск выполняется каждую ночь с такими условиями:
    <pre><code>-author: "Новостной_робот" -author: "RSS-bot" -author: "habrabot1" -author:"RSS-бот" -author:"robot" -author: "habrabot"</code></pre>
    От текущего числа и на месяц назад.
  </div>

  <h1>Статистика роботов</h1>

  <h2>Общий тренд</h2>
  <a href="/img/stats/robots_trend.png"><img src="/img/stats/robots_trend.png" width=800 height=600 /></a>

  <h2>Распределение сообщений в эхах по дням недели</h2>
  <a href="/img/stats/weekly_echo_robots.png"><img src="/img/stats/weekly_echo_robots.png" width=800 height=600 /></a>

  <h2>Распределение сообщений по дням недели</h2>
  <a href="/img/stats/weekly_count_robots.png"><img src="/img/stats/weekly_count_robots.png" width=800 height=600 /></a>

  <div>
    Поиск выполняется каждую ночь с такими условиями:
    <pre><code>author: "Новостной_робот" OR author: "RSS-bot" OR author: "habrabot1" OR author:"RSS-бот" OR author:"robot" OR author: "habrabot"</code></pre>
    От текущего числа и на месяц назад.
  </div>

</div>
