.table_row {
    background-color: #073642 !important;
}

.subj {
    color: #93a1a1 !important;
    text-decoration: none !important;
    border: none;
    padding: 0.5em;
}

@media only screen and (max-width: 1250px) {
    .posts {
        margin: 1.8em 0em 2em 0em;
    }
}

@media only screen and (max-width: 1100px) {
    .hide-column {
        display: none;
    }
}
