<div
  *ngIf="answerError['status'] === 'Error'"
  class="errorPanel w3-margin w3-padding w3-card">
  <div>
    <p class="w3-large">
      Ошибка!
      <i
        style="cursor:pointer;"
        class="w3-right fa fa-trash" (click)="closeErrorPanel()"></i>
    </p>
  </div>
  <p>{{ answerError['message'] }}</p>
</div>

<div class="w3-container"
     infinite-scroll
     [infiniteScrollDistance]="0.5"
     [infiniteScrollThrottle]="10"
     (scrolled)="onScrollDown()">
  <div style="margin-top:0em">
    <div *ngIf="this.echo" title="Порядок сортровки">
      <!-- Rectangular switch -->
      <!-- <label class="switch" (click)="changeOrder()"> -->
        <!--   <input type="checkbox" *ngIf="this.order == 'desc'" checked> -->
        <!--   <span class="slider"></span> -->
        <!-- </label> -->
      <div (click)="changeOrder()" class="orderDescription" title="{{ this.orderNames[this.order] }}">
        <i *ngIf="this.order == 'desc'" class="fa fa-arrow-down"></i>
        <i *ngIf="this.order == 'asc'" class="fa fa-arrow-up"></i>
      </div>
    </div>


    <div *ngFor="let post of postService.posts"
         class="posts dark_posts"
         id="{{ post._source.msgid }}">
      <div class="postTitle">
        <i *ngIf="!post._source.repto"
           class="rocket fa fa-rocket w3-right"
           title="Начало треда '{{post._source.subg}}'">
        </i>
        <!-- Subg -->
        <div>
          <h3
            *ngIf="post._source.topicid"
            title="{{ post._source.id }}">
            <a
              style="color:#93a1a1 !important;"
              title="В тред {{ post._source.topicid }}"
              href="/thread/{{ post._source.topicid }}#{{ post._source.msgid }}">{{ post._source.subg }}</a> @
            <a
              href="/echo/{{ post._source.echo }}"
              title="Читать эху {{ post._source.echo }}">{{ post._source.echo }}</a>
          </h3>
          <h3
            *ngIf="!post._source.topicid"
            title="{{ post._source.id }}">
            {{ post._source.subg }} @
            <a
              href="/echo/{{ post._source.echo }}"
              title="Читать эху {{ post._source.echo }}">
              {{ post._source.echo }}
            </a>
          </h3>
        </div>
        <!-- End of subg -->

        <!-- Author and date -->
        <img
          title="{{ post._source.author }}[{{ post._source.address }}]"
          style="width:25px;border-radius:50%;"
          src="https://api.adorable.io/avatars/100/{{ post._source.author }}{{ post._source.address }}.png" />
        <span style="color:#268bd2;" title="{{ post._source.address }}"> {{ post._source.author }} </span>

        <!-- Right arrow icon -->
        <i class="fa fa-bullhorn"></i>

        <!-- Recipient -->
        <a *ngIf="post._source.repto"
           (mouseenter)="showMsgPopup(post._source.repto) "
           (mouseleave)="closeMsgPopup()"
           href="{{ '/msg/' + post._source.repto }}"
           title="Перейти к {{ post._source.repto }}"> {{ post._source.to }} </a>

        <!-- Message popup -->
        <div *ngIf="msgPopupToggle" class="msgPopup dark_posts">
          <div *ngFor="let post of postService.popup" style="border-color:#2aa198 !important;">
            <div class="postTitle">
              <i *ngIf="!post._source.repto"
                 class="fa fa-rocket rocket w3-right"
                 title="Начало треда '{{post._source.subg}}'">
              </i>
              <!-- Subg -->
              <h3 title="{{ post._source.id }}">
                {{ post._source.subg }} @
                {{ post._source.echo }}
              </h3>
              <!-- End of subg -->

              <!-- Author and date -->
              {{ post._source.author }}

              <!-- Right arrow icon -->
              <i class="fa fa-bullhorn"></i>

              <!-- Recipient -->
              <span
                style="color:#268bd2;">
                {{ post._source.to }}
              </span>

              <!-- Date -->
              <span class="datetime" title="{{ post._source.date }}">
                <i class="fa fa-clock-o"></i> {{ post._source.date * 1000 | date:"dd/MM/yyyy HH:mm"  }}
              </span>

              <!-- And of author and date -->
            </div>

            <p class="line-breaker postContent"
               style="margin-top: -1em;margin-bottom:-1em;"
               [innerHTML]="post._source.message | QuotesPipe | PrePipe | iiLinks | linky:{newWindow: false}"
               highlight-js-content="code">
            </p>
          </div>
        </div>
        <span
          *ngIf="!post._source.repto"
          style="color:#268bd2;">
          {{ post._source.to }}
        </span>

        <!-- Date -->
        <span class="datetime" title="{{ post._source.date }}">
          <i class="fa fa-clock-o"></i> {{ post._source.date * 1000 | date:"dd/MM/yyyy HH:mm"  }}
        </span>

        <!-- And of author and date -->
      </div>

      <div class="w3-container">
        <div class="w3-row">
          <p class="line-breaker postContent"
             style="margin-top: -1em;margin-bottom:-1em;"
             [innerHTML]="'\n' + post._source.message.trim() | QuotesPipe | PrePipe | iiLinks | linky:{newWindow: true}"
             highlight-js-content="code">
          </p>
        </div>
      </div>
        <div class="w3-row w3-padding"></div>
        <div class="w3-row">
          <a class="linkToPost" href="{{ '/msg/' + post._source.msgid }}" title="Ссылка на сообщение"><i class="fa fa-link"></i></a>
          <span style="margin-left:1em;">[ <a style="cursor:pointer;" (click)="showAnswerForm(post._source.msgid, post._source.subg)">Ответить</a> ]</span>
          <i
            *ngIf="favsEnabled && favorites && !favorites[post._source.msgid]"
            class="fa fa-star w3-right"
            (click)="addToFavorites(post._source)"
            style="cursor:pointer;"
            title="Добавить пост в избранное"></i>
          <i
            *ngIf="favsEnabled && favorites && favorites[post._source.msgid]"
            class="fa fa-star w3-right"
            (click)="removeFromFavorites(post._source.msgid)"
            style="cursor:pointer;color:#cb4b16;"
            title="Удалить пост из избранного"></i>
        </div>
      <!-- Answer form -->
      <div
        class="w3-padding"
        *ngIf="answerForm[post._source.msgid]">
        <form #answerForm="ngForm" (ngSubmit)="postAnswer(answerForm, post._source)">
          <label class="w3-text-blue" for="subgInput">сабж <span style="color:#dc322f;">*</span></label>
          <input id="subgInput" name="subgInput" class="w3-input inputs" [(ngModel)]="replySubg" type="text" required>

          <label class="w3-text-blue" for="echoInput">эха <span style="color:#dc322f;">*</span></label>
          <input id="echoInput" name="echoInput" class="w3-input inputs" [(ngModel)]="post._source.echo" type="text" required>

          <label class="w3-text-blue" for="msgInput">текст сообщения <span style="color:#dc322f;">*</span></label>
          <textarea rows="10" id="msgInput" name="msgInput" type="textarea" class="w3-input inputs" ngModel required></textarea>

          <label for="authInput" class="w3-text-blue">строка авторизации <span style="color:#dc322f;">*</span></label>
          <input type="password" name="authInput" class="w3-input inputs" ngModel required>

          <br>
          <input type="submit" class="w3-btn w3-blue button" value="постить">
          <br>
        </form>
      </div>
    </div>
  </div>
</div>
